In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
ati = pd.read_csv('../data/atium.csv', index_col=0)

In [3]:
print(f'Number of stars: {len(ati)}')

print(f'Number of MS stars: {len(ati[ati.hrclass == "MS"])}')
print(f'Number of SG stars: {len(ati[ati.hrclass == "SG"])}')
print(f'Number of Hot stars: {len(ati[ati.hrclass == "H"])}')

Number of stars: 95
Number of MS stars: 67
Number of SG stars: 4
Number of Hot stars: 24

In [4]:
kics = [8379927, 7510397, 10454113, 9025370, 
        9139151, 9139163, 12069424, 12069449]

In [5]:
ati.loc[ati.KIC.isin(kics)][['KIC','hrclass']]

         KIC hrclass
22   7510397      MS
32   8379927      MS
38   9025370      MS
40   9139151       H
41   9139163       H
52  10454113      MS
62  12069424      MS
63  12069449      MS

In [6]:
s = pd.read_csv('../data/jvs_models/standard_model.csv')
r = pd.read_csv('../data/jvs_models/rocrit_model.csv')

In [7]:
s.head(5)

     # Teff(K)   Prot(days)   Age(Gyr)   Mass(Msun)       Ro
0  3425.943077     3.132252   2.343081      0.39749  0.028923
1  3426.052848     0.769080   1.110579      0.38310  0.007271
2  3429.332363     0.830315   1.162998      0.40312  0.008025
3  3425.867537     1.067847   1.398936      0.39909  0.009989
4  3425.887204     2.477922   2.144391      0.39106  0.022913

In [8]:
len(s)

147875

In [9]:
len(r)

140000

Check which stars fail the models and why

In [10]:
cols = ['# Teff(K)', ' Prot(days)', ' Age(Gyr)', ' Mass(Msun)']
bound_s = [(s[par].min(), s[par].max()) for par in cols]
cols = ['#Teff(K)', ' Prot(days)', ' Age(Gyr)', ' Mass(Msun)']
bound_ro = [(r[par].min(), r[par].max()) for par in cols]

In [11]:
print(bound_s)
print(bound_ro)

[(3425.823320543836, 6499.998166816108), (-0.07135271127966744, 188.7730880701523), (0.02670536630911624, 8.510795920574928), (0.38006, 1.97503)]
[(3425.823320543836, 6399.963150489168), (-0.07135271127966744, 107.6670434214183), (0.02670536630911624, 8.510795920574928), (0.38006, 1.94384)]

In [12]:
a = ati.loc[(ati.KIC == 11253226)]

In [13]:
b = ati.loc[ati.KIC == 6278762]

In [14]:
cols = ['Teff', 'P', 'age', 'modmass']
for idx, col in enumerate(cols):
    print(bound_s[idx])
    print(bound_ro[idx])
    print(f'11253226: {a[col].values}')
    print(f'6278762: {b[col].values}')

(3425.823320543836, 6499.998166816108)
(3425.823320543836, 6399.963150489168)
11253226: [6642]
6278762: [5046]
(-0.07135271127966744, 188.7730880701523)
(-0.07135271127966744, 107.6670434214183)
11253226: [3.42807917]
6278762: [32.97068814]
(0.02670536630911624, 8.510795920574928)
(0.02670536630911624, 8.510795920574928)
11253226: [1.5951]
6278762: [11.54]
(0.38006, 1.97503)
(0.38006, 1.94384)
11253226: [1.4082]
6278762: [0.739]

In [15]:
ati.loc[ati.eye_flag == 3]

,KIC,Teff,age,dnu,eTeff,ednu,efeh,enumax,feh,loage,...,eV2,l_P,P,u_P,l_vsini,vsini,u_vsini,rhat_flag,eye_flag,ebprp
81,8478994,5417,5.35,178.7,75,1.4,0.07,50.0,-0.32,1.01,...,0.073275,0.888131,1.49014,0.504133,6.524018,26.061328,13.184462,rhat_1,3,0.000688

In [16]:
print(f'R 1.01: {len(ati.loc[ati.rhat_flag == "rhat_01"])}')
print(f'R 1.1: {len(ati.loc[ati.eye_flag != 3].loc[ati.rhat_flag == "rhat_1"])}')

R 1.01: 5
R 1.1: 2

In [17]:
ati.columns

Index(['KIC', 'Teff', 'age', 'dnu', 'eTeff', 'ednu', 'efeh', 'enumax', 'feh',
       'loage', 'lomodlogg', 'lomodmass', 'lomodrad', 'modlogg', 'modmass',
       'modrad', 'numax', 'source', 'upage', 'upmodlogg', 'upmodmass',
       'upmodrad', 'G', 'bprp', 'hrclass', 'neff_xsplit', 'neff_cosi',
       'neff_split', 'neff_i', 'l_nus*', 'nus*', 'u_nus*', 'l_cosi', 'cosi',
       'u_cosi', 'l_nus', 'nus', 'u_nus', 'l_i', 'i', 'u_i', 'fit_numax',
       'efit_numax', 'fit_d01', 'efit_d01', 'fit_d02', 'efit_d02',
       'fit_epsilon', 'efit_epsilon', 'V1', 'eV1', 'V2', 'eV2', 'l_P', 'P',
       'u_P', 'l_vsini', 'vsini', 'u_vsini', 'rhat_flag', 'eye_flag', 'ebprp'],
      dtype='object')

In [27]:
cols = ['KIC', 'Teff', 'eTeff', 'age','loage', 'upage', 'feh','efeh', 
        'modlogg', 'modmass','modrad', 'hrclass', 'P',
       'l_P', 'u_P', 'i', 'l_i', 'u_i', 'vsini', 'eye_flag']
a = pd.read_csv('../data/atium.csv',usecols=cols)

Check 16 cyg A & B

In [28]:
cyg =a.loc[[62, 63]]

In [29]:
cyg

,KIC,Teff,age,eTeff,efeh,feh,loage,modlogg,modmass,modrad,upage,hrclass,l_i,i,u_i,l_P,P,u_P,vsini,eye_flag
62,12069424,5825,6.6735,50,0.03,0.10,0.7666,4.2867,1.0491,1.2156,0.8145,MS,0.050879,0.780742,0.108518,1.114095,20.516716,1.975841,2.112675,2
63,12069449,5750,7.3922,50,0.02,0.05,0.9103,4.3527,0.9883,1.0957,0.8943,MS,0.041302,0.594267,0.051959,1.474881,21.178840,1.808344,1.462994,0

In [31]:
np.rad2deg(cyg['i'])

62    44.733243
63    34.048965
Name: i, dtype: float64

In [32]:
np.rad2deg(cyg['u_i'])

62    6.217602
63    2.977057
Name: u_i, dtype: float64

In [33]:
np.rad2deg(cyg['l_i'])

62    2.915159
63    2.366435
Name: l_i, dtype: float64