In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
ati = pd.read_csv('../data/atium.csv', index_col=0)

In [7]:
print(f'Number of stars: {len(ati)}')

print(f'Number of MS stars: {len(ati[ati.hrclass == "MS"])}')
print(f'Number of SG stars: {len(ati[ati.hrclass == "SG"])}')
print(f'Number of Hot stars: {len(ati[ati.hrclass == "H"])}')

Number of stars: 95
Number of MS stars: 41
Number of SG stars: 45
Number of Hot stars: 9

In [9]:
kics = [8379927, 7510397, 10454113, 9025370, 
        9139151, 9139163, 12069424, 12069449]

In [24]:
ati.loc[ati.KIC.isin(kics)][['KIC','hrclass']]

         KIC hrclass
22   7510397      SG
32   8379927      MS
38   9025370      MS
40   9139151       H
41   9139163      SG
52  10454113      MS
62  12069424      MS
63  12069449      MS